# ignore node modules
/node_modules/

# ignore env files
.env

# ignore sensitive files
*.pem
*.key
*.crt
*.cer
*.pfx
*.p12
*.pem
*.csr
*.jks
*.key
*.pub

# ignore logs
*.log

# ignore build files
/build/